body{
    margin: 0px;
    background-color: rgb(17,17,17)
}

nav{
    display: flex;
    justify-content: space-around;
    align-items: center;

    background-color: #7734bf;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

    color: white
}

#icon {
    width: 65px;
}

#noticias {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 0px;
    margin-top: 17px;
}

.noticia{
    margin: 6px;
    height: 500px;
    width: 350px;
    text-align: center;
    background-color: rgb(17,17,17);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: aliceblue;
    border: 4px solid rgb(228, 228, 228);
    border-radius: 10px;
}
.img_noticia {
    
    width: 350px;
    height: 300px;
    object-fit: cover;
    border-radius: 10px;
}
h3{
    color: #f8bc3b;
}
footer{
    color: aliceblue;
    text-align: center;
    background-color: #7734bf;
    padding: 10px;
     margin-top: 40px;
    position: fixed;
    bottom: 0;
    width: 100%;
}